annotated-doc
annotated-types
anyio
bcrypt
click
colorama
dnspython
email-validator
fastapi
h11
httptools
idna
psycopg
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
PyJWT
python-dotenv
PyYAML
SQLAlchemy
alembic
starlette
typing-inspection
typing_extensions
tzdata
uvicorn
watchfiles
websockets
boto3
python-multipart
